<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @global_page_setting.user_id %>
</p>

<p>
  <b>Page width:</b>
  <%= @global_page_setting.page_width %>
</p>

<p>
  <b>Bg color:</b>
  <%= @global_page_setting.bg_color %>
</p>


<%= link_to 'Edit', edit_global_page_setting_path(@global_page_setting) %> |
<%= link_to 'Back', global_page_settings_path %>
