<p id="notice"><%= notice %></p>

<p>
  <b>Caption:</b>
  <%= @image.caption %>
</p>

<p>
  <b>Image:</b>
  <%= @image.image %>
</p>

<p>
  <b>Element:</b>
  <%= @image.element_id %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
